
.one {
  padding: 16px 4px;
  color: black;
  float: right;
  }
  
  .two {
    float: right;
    padding: 16px 4px;
    color: blueviolet;
    }
  
    .three {
      float: right;
      padding: 16px 4px;
      color: blueviolet;
      }
  
    button{
   font: inherit;
   padding: 18px;
   border: 0.1em solid hs1(185,53%, 34%);
   border-radius: 90vw;
   cursor:crosshair;
   transition: background-color 250ms;
   }

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #adeca3;
  margin: 16px auto;
  align-items:center;
  justify-content: space-around;
}

.title {
  background: rgb(140, 159, 150);
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
}

.card {
  padding: 8px;
}

.title {
  float:center;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  padding: 8px;
}

.content {
  margin-bottom: 8px;
  padding: 16px 8px;
}

.button-container {
  text-align: center;
  padding: 14px;

}

button {
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}

.title2 {
  font-size: 36px;
  text-align:center;
  padding: 80px 24px;
  height: 50px;
}

.pancakes {
  font-size: 12px;
  text-align:center;
  
}

.need {
  font-size: 12px;
  text-align:center;
}